@import url('https://fonts.googleapis.com/css2?family=Itim&family=Smooch+Sans:wght@300&family=Sofia+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Itim&family=Sofia+Sans+Condensed:wght@300&display=swap');

:root {
    --light: #ddd;
    --medium: #999;
    --dark: #333;
    --black: #212121;
    --primary: #4ae;
    --secondary: #ddd;
    --danger: #bb1818;
    --warning: #ef5400;
    --success: #3b833b;
    --static: #aaaaaa;
    --active: #357baa;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Smooch Sans', sans-serif;
    background-color: var(--black);
    color: var(--light);
    margin: 50px;
}

/* HEADER-MAIN */

.header-main {
    position: relative;
    margin-bottom: -0.5vw;
}
/* HEADER IMG */
.header-main img {
    width: 100%;
    height: auto;
}
/* HEADER HGROUP */
.header-main hgroup {
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
    padding: 0.5rem 1rem;
    background: var(--light);
    box-sizing: border-box;
    border: 1vw solid #000;
    overflow: hidden;
}

hgroup {
    display: block;
}
/* HEADER H1 */
.header-main h1 {
    font-size: 12vw;
    line-height: 100%;
    margin: 0.7rem;
    color: var(--danger);
    font-family: 'Bebas Neue', sans-serif;
}

h1 span {
    color: var(--black);
}

/* NAV-MAIN */
@media (min-width: 1200px) {
    .nav-main {
        justify-content: space-between;
    }
}

@media (min-width: 800px) {
    .nav-main {
        flex-direction: row;
        justify-content: flex-end;
    }
}

.nav-main {
    display: flex;
    background-color: var(--dark);
}

.nav-main ul {
   list-style: none;
   margin: 0;
   padding: 0px;
   display: flex; 
}

.nav-main ul li {
    margin-right: 10px;
}

.nav-main ul a {
    display: block;
    padding: 0.5rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--warning);
    transition: 500ms;
}

.nav-main ul li a:hover {
    background-color: var(--black);
    color: var(--secondary);
}

.nav-main ul:last-child {
    margin-left: auto;
    padding: 0px;
    border-radius: 5px;
}

.nav-main ul:last-child li {
    margin-right: 0;
}

.nav-main ul:last-child li a {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3;
}

.nav-main ul:last-child li:nth-child(1) a {
    background-color: var(--primary);
    color: var(--secondary);
}

.nav-main ul:last-child li:nth-child(2) a {
    background-color: var(--success);
    color: var(--secondary);
}

/* SECTION ABOUT */
section > header:first-of-type h2 {
    font-size: 5vw;
    color: var(--warning);
    margin: 0.1rem;
    margin-left: 3rem;
}

.section-about figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.section-about figure article h3 {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--primary);
}

.section-about article p {
    font-size: 1.5rem;
}

.section-about article a {
    font-size: 1.3rem;
    color: var(--static);
    transition: 400ms;
}

.section-about article footer {
    text-align: right;
}

/* SECTION STAFF*/
.section-staff {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.section-staff > header h2 {
    font-size: 5vw;
    color: var(--warning);
    margin: 0.1rem;
    margin-left: 3rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.section-staff figure img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.section-staff figure {
    margin: 0.5rem;
}

.section-staff figure h3 {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--primary);
}

.section-staff figure article p {
    font-size: 1.5rem;
}

.section-staff figure article a {
    font-size: 1.3rem;
    color: var(--static);
    transition: 400ms;
}

.section-staff figure article footer {
    text-align: right;
}

.the__staff {
    font-size: 4vw;
    color: var(--warning);
    margin: -2rem;
    margin-left: 3rem;
}

/* SECTION DELIVERY */
.section-delivery {
    padding: 0;
    margin: 0;
}

.delivery-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image-container {
    flex: 0 0 auto;
    margin-right: 20px; 
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.text-container {
    flex: 1; 
}

.text-container a {
    font-size: 1.3rem;
    color: var(--static);
    transition: 400ms;
}

.text-container h3 {
    font-size: 2rem; 
    color: var(--primary); 
    margin-bottom: 1rem; 
    margin-top: -28rem;
}

.text-container p {
    font-size: 1.5rem;
}

.the__delivery {
    font-size: 4vw;
    color: var(--warning);
    margin: -2rem;
    margin-left: 3rem;  
}

/* SECTION GALLERY */
.section-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.section-gallery figure{
    position: relative;
    margin: 0;
    padding: 0;
}
.section-gallery img{
    display: block;
    width: 100%;
}
.section-gallery figcaption{
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000077;
    color: var(--light);
    transition: all 0.5s ease-in-out 0s;
    overflow: hidden;
    text-align: center;
}
.section-gallery figure h2{
    color: var(--primary);
    font-weight: 800;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.section-gallery figure p{
    color: var(--secondary);
    font-size: 1.5em;
}

.section-gallery figure a {
    color: var(--static);
    font-weight: 500;
}

.section-gallery figure:hover figcaption{
    top: 0;
}

.the__gallery {
    font-size: 4vw;
    color: var(--warning);
    margin: -2rem;
    margin-left: 3rem;  
}

/* FOOTER MAIN */
.footer-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-main h2 {
    font-size: 2rem;
    color: var(--warning);
    font-weight: 400;
}

.footer-main h4 {
    font-size: 2rem;
    color: var(--warning);
    font-weight: 400;
    margin: 0;
    margin-top: 2rem;
}

.footer-main h5 {
    font-size: 2rem;
    color: var(--warning);
    font-weight: 400;
    margin: 0;
}

.footer-main li {
    color: var(--primary);
}

.footer-main a {
    color: var(--static);
}